    <table>
      <tr>
        <td><a href="?path={{$.Parent}}">..</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      {{- range .Report}}
      <tr>
        <td style="background:
                  linear-gradient(90deg, #ddd {{.Percentage}}, #fff 0%)">
           {{ if .IsDir }}<a href="?path={{$.Path}}/{{.Name}}">{{ end }}
           {{.Name}}
           {{ if .IsDir }}</a>{{ end }}
        </td>
        <td>{{.Size}}</td>
        <td>{{.Percentage}}</td>
      </tr>
      {{- end}}
      <tr>
        <td>Total</td>
        <td>{{.Total}}</td>
        <td>100%</td>
    </table>
    {{ if .D3Data.Name }}
      <h1>Zoomable icicle diagram</h1>
      <script>
        const data = {{ .D3Data }};
      </script>
      <script src="static/icicle.js"></script>
    {{ else }}
      <a href="javascript:document.location.search += '&d3=1'">Show icicle diagram</a>
    {{ end }}
  </body>
</html>
